<footer class="hidden-print">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 footer-content">

            Presented by <a href="http://codeforamerica.org/">Code for America</a> and <a href="http://www.denvergov.org/">Denver</a>.
            Read more about this project <a href="http://www.codeforamerica.org/governments/denver/">here</a>.

        </div>
    </div> <!-- container -->
</footer>

<div id="feedback">
    <a href="https://docs.google.com/a/codeforamerica.org/forms/d/1p9vvy-PQIbi8wF99WhU6hnmHu71QW3qLXLKKWY1e0Xo/viewform">feedback</a>
</div>
