<div class="modal fade" id="welcomeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome</h4>
            </div> <!-- /.modal-header -->
            <div class="modal-body">
                <div id="email-result"></div>
                <div id="popup-content">
                    <div class="clearfix">
                        <div>
                            <h3>Hi there!</h3>
                            <p>
                                You've reached Denver Street Sweeping, a new service to help residents of Denver avoid street sweeping tickets.
                                <br><br>
                                <strong>We are piloting this site throughout Denver</strong> but some of the schedules or notifications may be innacurate. If you find this to be the case or have any other feedback, please use the <a href="https://docs.google.com/a/codeforamerica.org/forms/d/1p9vvy-PQIbi8wF99WhU6hnmHu71QW3qLXLKKWY1e0Xo/viewform">feedback button</a> at the bottom of the page to report it.
                                <br><br>
                                If you'd like to get updates about the app, <a id="signUpLink" data-dismiss="modal">click here to sign up up for our mailing list.</a>
                            </p>
                        </div>
                    </div>
                </div> <!-- /#popup-content -->
            </div>  <!-- /.modal-body -->

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn blue-btn">Get started!</button>
            </div> <!-- /.modal-footer -->
        </div> <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
